@model PagedResult<HospitalManagement.ViewModels.ApplicationUserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Address</th>
            <th>DOB</th>
            <th>Specialist</th>
            <th>IsDoctor</th>
            <th>PictureUrl</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>
        </tr>
}
    </tbody>
</table>
